<footer class="rounded-t-lg bg-primary text-neutral-content shadow-sm border px-5 py-5 flex flex-col lg:flex-row space-y-3 text-center lg:text-left mt-5">
  <div class="flex-1 space-y-2">
    <a href="" class="link link-hover text-xs">Klik disini untuk masuk dan beraktivitas dalam ruang tertutup login</a>
    <p class="text-sm">&copy; 2021 - OpenData Pronangkis. Hakcipta dilindungi undang-undang</p>
  </div>
  <div class="flex-none space-x-3">
    <a href=""><i class="fab fa-facebook"></i></a>
    <a href=""><i class="fab fa-twitter"></i></a>
    <a href=""><i class="fab fa-instagram"></i></a>
    <a href=""><i class="fa fa-phone-alt"></i></a>
    <a href=""><i class="fa fa-envelope"></i></a>
  </div>
</footer>