<section class="pt-5 mb-5 card overflow-visible shadow-xl">
  <div class="bg-white rounded-lg py-4 px-5 rounded-t-lg hidden lg:flex space-x-5 items-center">
    <img src="./assets/img/logo.png" alt="Logo OpenData" class="h-20 w-auto">
    <h1 class="font-bold text-3xl text-transparent bg-clip-text bg-gradient-to-l from-primary to-secondary">OpenData Pronangkis</h1>
  </div>
  <div class="navbar shadow-xl bg-primary text-neutral-content rounded-lg lg:rounded-b-lg lg:rounded-t-none">
    <a href="./" class="flex-none px-2 items-center lg:hidden" title="ke halaman depan" aria-label="ke halaman depan">
      <img src="./assets/img/logo.png" alt="Logo OpenData" class="h-12 w-auto">
    </a>
    {% include "partials/nav.html" -%}

    <div class="lg:hidden">
      <label for="drawer" class="btn btn-ghost drawer-button"><i class="fa fa-bars"></i></label>
    </div>
  </div>
</section>