{% set navs = [
  {
    name: 'Beranda',
    link: '',
    submenu: []
  },
  {
    name: 'Open Data',
    link: '',
    submenu: []
  },
  {
    name: 'Anggaran Publik',
    link: '',
    submenu: [
      'Visualisasi Belanja dan Pendapatan Dinas',
      'Tabular Data'
    ]
  },
  {
    name: 'Grafik Anggaran',
    link: '',
    submenu: [
      'Pendapatan',
      'Pengurangan Resiko Bencana',
      'Penanggulangan Kemiskinan'
    ]
  },
  {
    name: 'Analisis Anggaran',
    link: '',
    submenu: []
  }
] -%}

<nav class="flex-1 px-2 mx-2">
  <ul class="items-stretch hidden lg:flex">
    {% for nav in navs -%}
      {% if nav.submenu.length === 0 -%}
        <li><a href="{{ nav.link }}" class="btn btn-ghost rounded-lg">{{ nav.name }}</a></li>
        {% else %}
          <div class="dropdown dropdown-end">
            <li tabindex="0" class="btn btn-ghost rounded-btn">{{ nav.name }} <i class="fa fa-chevron-down ml-2"></i></li> 
            <ul tabindex="0" class="p-2 shadow-2xl menu dropdown-content bg-base-100 rounded-lg w-64 text-gray-600">
              {% for subnav in nav.submenu -%}
                <li><a href="">{{ subnav }}</a></li>
              {%- endfor %}
            </ul>
          </div>
      {%- endif %}
    {%- endfor %}
  </ul>
</nav>