@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.card {
  @apply rounded-lg border shadow-sm bg-white;
}

.btn {
  @apply border-b-4;

  &-primary {
    @apply border-primary-focus;
  }

  &-secondary {
    @apply border-secondary-focus;
  }
}

.dataTables_wrapper {
  & input[type=search] {
    @apply border py-1 px-2;

    &:focus {
      @apply border-primary outline-none;
    }
  }
}