{% set navs = [
  {
    name: 'Beranda',
    link: './',
    submenu: []
  },
  {
    name: 'Open Data',
    link: './opendata.html',
    submenu: []
  },
  {
    name: 'Anggaran Publik',
    link: '',
    submenu: [
      'Visualisasi Grafik',
      'Tabular Data'
    ]
  },
  {
    name: 'Grafik Anggaran',
    link: '',
    submenu: [
      'Pendapatan',
      'Pengurangan Resiko Bencana',
      'Penanggulangan Kemiskinan'
    ]
  },
  {
    name: 'Blog',
    link: './blog.html',
    submenu: []
  }
] -%}