{% set title = 'Open Data Pronangkis' -%}
{% extends "templates/master.html" -%}

{% block content -%}
  <aside class="w-full">
    <div class="collapse collapse-arrow bg-white rounded-lg shadow-xl">
      <input type="checkbox">
      <h2 class="font-bold collapse-title text-primary">APA DAN BAGAIMANA OPEN DATA?</h2>
      <div class="collapse-content px-5 space-y-3">
        <p>Data terbuka adalah data yang dapat secara bebas digunakan, digunakan ulang dan didistribusi ulang oleh siapapun - hanya patuh, umumnya, pada keharusan untuk menyebutkan siapa penciptanya dan berbagi dengan lisensi yang sama...</p>
        <a href="" class="btn btn-primary">Selengkapnya <i class="fa fa-chevron-right ml-2"></i></a>
    </div>
  </aside>
  <section class="flex flex-col py-5 space-y-5">
    <div class="card shadow-xl bg-white p-5 space-y-5">
      <div id="chart-container"></div>
    </div>
    <div class="card shadow-2xl bg-white p-5 space-y-5">
      <div class="overflow-y-auto">
        <table class="table table-compact max-w-full datatables">
          <thead>
            <tr>
              <th>Kode Rekening</th>
              <th>Uraian</th>
              <th>2018</th>
              <th>2017</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5</td>
              <td>BELANJA</td>
              <td class="angka">2,205,489,940,400.00</td>
              <td class="angka">2,161,336,557,890.00</td>
            </tr>
            <tr>
              <td>4</td>
              <td>PENDAPATAN</td>
              <td class="angka">2,056,183,267,071.00</td>
              <td class="angka">2,078,242,751,510.00</td>
            </tr>
            <tr>
              <td>6.1</td>
              <td>PENERIMAAN PEMBIAYAAN DAERAH</td>
              <td class="angka">177,941,673,329.00</td>
              <td class="angka">103,203,806,380.00</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="grid grid-cols-1 lg:grid-cols-3 gap-5">
      {% for i in range(0, 5) %}
        <div class="card shadow-xl bg-white">
          <figure>
            <img src="https://picsum.photos/id/1005/400/250">
          </figure> 
          <div class="card-body">
            <h2 class="card-title"><a href="#" class="link link-hover transition">(Analisis) Anggaran Kemiskinan dalam Postur APBD Kab Bantul Tahun 2014 - 2016</a>
            </h2> 
            <div class="badge badge-secondary mb-2">20 Feb 2021</div>
            <p>Rerum reiciendis beatae tenetur excepturi aut pariatur est eos. Sit sit necessitatibus veritatis sed molestiae voluptates incidunt iure sapiente.</p> 
            <div class="justify-start card-actions">
              <a href="" class="link link-primary link-hover">Baca Selengkapnya <i class="fa fa-chevron-right ml-2"></i></a>
            </div>
          </div>
        </div> 
      {% endfor %}
    </div>
  </section>
{%- endblock %}